### Name: Ayyaan
### Batch: T2
### Roll no. 061

In [ ]:
import numpy as np 
import pandas as pd

import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

In [ ]:
cols = ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']
data = pd.read_csv('01auto.csv', names=cols)
data

In [ ]:
data.describe()

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
data.dtypes

In [ ]:
data.replace("?", np.NaN, inplace=True) # replacing ? with Null value (Not a Number)
data

In [ ]:
data.isnull()

In [ ]:
data.notnull()

In [ ]:
# null value present in any column
data.isnull().any()

In [ ]:
# null value present anywhere in data set
data.isnull().any().any()

In [ ]:
data.isnull().sum()

In [ ]:
data.shape

In [ ]:
# changing data types to float
data['normalized-losses'] = data['normalized-losses'].astype('float')
data['bore'] = data['bore'].astype('float')
data['stroke'] = data['stroke'].astype('float')
data['horsepower'] = data['horsepower'].astype('float')
data['peak-rpm'] = data['peak-rpm'].astype('float')

In [ ]:
for i in cols:
    if data[i].isnull().any()==True and (data[i].dtype=="int64" or data[i].dtype=="float64"):
        avg = data[i].mean()
        data[i].replace(np.NaN, avg, inplace=True)

In [ ]:
data.isnull().sum()

In [ ]:
data['num-of-doors'].value_counts()

In [ ]:
# replacing NaN with max value
maxx = data['num-of-doors'].value_counts().idxmax()
data['num-of-doors'].replace(np.NaN, maxx, inplace=True)
data.isnull().sum()

In [ ]:
data.shape

In [ ]:
data.shape[0]

In [ ]:
before_rows = data.shape[0]
data.dropna(subset=['price'], axis=0, inplace=True)
after_rows = data.shape[0]
print("Number of rows dropped = ", before_rows-after_rows)
data.reset_index(drop=True, inplace=True)

In [ ]:
data.shape

In [ ]:
data.dtypes

In [ ]:
data

In [ ]:
data['normalized-losses'] = data['normalized-losses'].astype("int")
data['bore'] = data['bore'].astype("float")
data['stroke'] = data['stroke'].astype('float')
data['peak-rpm'] = data['peak-rpm'].astype('int')
data['price'] = data['price'].astype('int')

In [ ]:
data.dtypes

In [ ]:
data

In [ ]:
# mpg (miles/gallon) to L/100km conversion
data['city-mpg'] = 235/data['city-mpg']
data['highway-mpg'] = 235/data['highway-mpg']
data.rename(columns = {'city-mpg': 'city-L/100km'}, inplace=True)
data.rename(columns = {'highway-mpg': 'highway-L/100km'}, inplace=True)
data

In [ ]:
data['length'] = data['length']/data['length'].max()
data['width'] = data['width']/data['width'].max()
data['height'] = data['height']/data['height'].max()

In [ ]:
data['length']

In [ ]:
data['width']

In [ ]:
data['height']

In [ ]:
data

In [ ]:
data.to_csv('wrangled_data.csv')